html {
  font-size: 62.5%;
  color-scheme: light dark;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg-main: #e6e9ef;
  --bg-card: #eff1f5;
  --text-primary: #4c4f69;
  --text-secondary: #6c6f85;
  --border-color: #bcc0cc;
  --color-accent: #8839ef;
  --color-accent-hover: #722ebc;
  --radius: 0.6rem;
  --theme-transition: 0.7s ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1e1e2e;
    --bg-card: #313244;
    --text-primary: #cdd6f4;
    --text-secondary: #a6adc8;
    --border-color: #45475a;
    --color-accent: #cba6f7;
    --color-accent-hover: #dcbdfa;
  }
}

body {
  margin: 0;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  font-family: "Sorts Mill Goudy", serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-size: 1.8rem;

  transition:
    background-color var(--theme-transition),
    color var(--theme-transition);

  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition),
    border-color var(--theme-transition);
}
