html {
  font-size: 62.5%;
  color-scheme: light dark;
  scroll-behavior: smooth;
  box-sizing: border-box;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --bg-main: light-dark(#e6e9ef, #1e1e2e);
  --bg-card: light-dark(#eff1f5, #313244);
  --text-primary: light-dark(#4c4f69, #cdd6f4);
  --text-secondary: light-dark(#6c6f85, #a6adc8);
  --border-color: light-dark(#bcc0cc, #45475a);
  --color-accent: light-dark(#8839ef, #cba6f7);
  --color-accent-hover: light-dark(#722ebc, #dcbdfa);

  --radius: 1rem;
  --spacing-offset: 1.6rem;
  --spacing-layout: 1.5rem;
  --theme-transition: 0.7s ease-in-out;
}

body {
  margin: 0;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  font-family: "Sorts Mill Goudy", serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-size: 1.8rem;

  transition:
    background-color var(--theme-transition),
    color var(--theme-transition);

  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
select {
  font: inherit;
  transition:
    background-color var(--theme-transition),
    color var(--theme-transition),
    border-color var(--theme-transition);
}
